body {
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
.poster{
    
    border: solid 3px white;
    height: 300px;
}

.inline{
    display: inline-block;
    padding-right: 100px;
}

.audio{
    margin-bottom: 50px;
}

.song-title{
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(4, 0, 255);
    margin-bottom: 400px;
}

#main-h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: aqua;
    
}

#main-s1{
    font-size: 80px;
    font-family: title-font;
    }

@font-face {
  font-family: title-font;
  src: url('fonts/title.ttf');
}

.song-name{
    font-size: 20px;
    color: deepskyblue;
    background-color: gold;
}

.g1{
    font-size: 40px;
    background-color: rgb(4, 0, 255);
    color: rgb(238, 255, 0);
}

.main-h1{
    font-size: 80px;
    color: rgb(0, 255, 55);
}

.gallery-h1{
    font-size: 80px;
    color: rgb(0, 255, 55);
    width: 260px;
}

input[type="submit"] {
    font-size: 20px;
    color: midnightblue;
    background-color: greenyellow;
}

.center {

    margin: 0;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
